body {
  max-width: 1400px;
  min-height: 600px;
  width: 100%;
  text-align: center;
  background-image: url(../images/Project\ 1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  color: white;
}

.logo {
  display: flex;
  align-items: flex-start;
  text-decoration: none;
  z-index: 100;
  transform: scale(0.7);
}

.story {
  border-width: 10px;
  border-radius: 0px;
  margin: 20px;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  background-color: rgba(139, 15, 143, 0.5);
  border-style: double;
  border-color: rgb(25, 4, 37);
}

.location {
  border-width: 10px;
  border-radius: 0px;
  margin: 20px;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  background-color: rgba(139, 15, 143, 0.5);
  border-style: double;
  border-color: rgb(25, 4, 37);
}

.founders {
  border-width: 10px;
  border-radius: 0px;
  margin: 20px;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  background-color: rgba(139, 15, 143, 0.5);
  border-style: double;
  border-color: rgb(25, 4, 37);
}

.founders__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  max-width: 600px;
  width: 100%;
  min-height: 300px;
}

.gridpicture1 {
  background-color: #511ab7;
  grid-column: 1/2;
  grid-row: 1/3;
}

.gridpicture2 {
  background-color: #511ab7;
  grid-column: 2/3;
  grid-row: 1/3;
}

.gridpicture3 {
  background-color: #511ab7;
  grid-column: 3/4;
  grid-row: 1/3;
}
