@-webkit-keyframes myrkrig {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes myrkrig {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes itemzoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes itemzoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes rotate {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(2deg);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(2deg);
  }
}
body {
  background: linear-gradient(180deg, black 0%, #06022c 50%, #04021b 80%, #030567 100%);
}

main {
  margin: auto;
  max-width: 1400px;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
}

.gallery__container {
  -webkit-animation: rotate 200s ease infinite;
          animation: rotate 200s ease infinite;
  color: #511ab7;
  display: flex;
  align-items: center;
  flex-flow: column;
  max-width: 1100px;
  width: 100%;
  min-height: 900px;
  height: 100%;
}
.gallery__container h1 {
  font-family: "VT323", monospace;
  color: white;
  font-size: 6rem;
  margin-bottom: 0px;
}

.gallery__part {
  -webkit-animation: itemzoom 100s linear infinite;
          animation: itemzoom 100s linear infinite;
  width: 80%;
  margin: 30px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
.gallery__item {
  overflow: hidden;
  position: relative;
  transform: scale(0.8);
}
.gallery__item:hover {
  transform: scale(1.2) rotate(5deg);
  transition: all 0.5s ease-in-out;
}
.gallery__item:hover .overlay {
  opacity: 0;
}

.overlay {
  position: absolute;
  background-color: #511ab7;
  opacity: 0.3;
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
}

.myrkrig {
  opacity: 0;
  -webkit-animation: myrkrig 1s ease;
          animation: myrkrig 1s ease;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-iteration-count: 2;
          animation-iteration-count: 2;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
  position: absolute;
  width: 100%;
  height: 100%;
}