$primary-color:#511ab7;
$secondary-color:#00ff2f;

body, html {  
    height: 100%;
    background-image: url(../images/background.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    position: sticky;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.menu{display: flex;
    align-items: center;
    gap: 50px;
}
li a{
    text-decoration:none;
    color: $secondary-color;
    font-family: 'VT323', monospace;
    font-size: 1.8rem;

&:hover{color: white;
text-decoration: underline;}
&:active{color:white;
text-decoration: underline;}
}




@keyframes myrkrig {
    from{ opacity: 0;}
    to{ opacity: 1;}
}

@keyframes itemzoom {
    0%  {transform: scale(.9);}
    50% {transform: scale(1.4);}
    100%{transform: scale(1);}
}

@keyframes rotate {
    0%  {transform: rotate(2deg);}
    50% {transform: rotate(-20deg);}
    100%{transform: rotate(2deg);}
}


main{
    margin: auto;
    max-width: 1400px;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
}

.gallery__container{
    h1{
        font-family: 'VT323', monospace;
        color: $secondary-color;
        font-size: 5rem;
        margin-bottom: 0px;
    }
    animation: rotate 200s ease infinite;  
    color: $primary-color;
    display: flex;
    align-items: center;
    flex-flow: column;
    max-width: 1100px;
    width: 100%;
    min-height: 900px;
    height: 100%;
}

.gallery__part{
    animation: itemzoom 100s linear infinite;
    width: 80%;
    margin: 0px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;

&.one{

}    

&.three{

}

}


.gallery__item{
    overflow: hidden;
    position: relative;
    transform: scale(0.8);

&:hover{
    transform: scale(1.2) rotate(5deg);
    transition: all .5s ease-in-out;}

&:hover .overlay{
    opacity: 0;}
}

.overlay{
    position: absolute;
    background-color: $primary-color;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    transition: all .3s ease-in-out;
}

.myrkrig{
    opacity: 0;
    animation: myrkrig 1s ease;
    animation-fill-mode: both;
    animation-iteration-count: 2;
    animation-delay: 5s;
    position: absolute;
    width: 100%;
    height: 100%;
}

footer {
    position: absolute;
    bottom: 1;
    background: rgba(17, 17, 17, 0.204);
    height: auto;
    width: 100%;   /*Rosie changed to %*/
    font-family: "oswald";
    padding-top: 0px;
    color: #fff;
    z-index: 10000;
}

.footer-content {
    background: rgba(0, 0, 0, 0.253);
    width: 100vw;
    padding: 20px 0;
    text-align: center;
}

.footer-content p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    font-weight: 200;
}

.footer-content span {
    text-transform: uppercase;
    opacity: .4;
    font-weight:200;
}    